/* Sätter en bakgrundsbild med placering fixed */
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("apple2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Sätter måtten för diven på headern */
#header {
    width: 100%;
    height: 10%;
    background-color: white;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat; 
    bottom: auto;
    position: fixed;
}

/* Storlek på logotypens div */
div.logo {
    width: 20%;
    height: 100%;
    float: left;
}
/* Storlek på logotypen och dess position */
img.logo{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: 20% 50%;
}

/* Storlek på menyns div */
div.menu{
    width: 80%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    font-family: 'Josefin Slab', serif;
    
}

/* Ger alla rubriker ett utseende */
h1{
    font-size: 3em;
    font-family: 'Josefin Slab', serif;
    text-align: center;
    
}

/* Ger alla rubriker ett utseende */
h2{
    font-size: 40px;
    font-family: 'Josefin Slab', serif; 
}

/* Ger alla rubriker ett utseende */
h3{
    font-size: 20px;
    font-family: 'Josefin Slab', serif;  
}

/* Ger listan en storlek */
ul{
    width: 100%;
}

/* Ger alla paragrafer ett utseende */
p{
    font-size: 1em;
    font-family: 'Josefin Slab', serif;
   margin-left: auto;
}

/* Ger texten ett utseende */
#textOmOss{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

/* Ger listan ett utseende och position */
li{
    display: inline;
    color: black;
    padding: 2%;
    font-size: 20px;
    opacity: 0.7;
    float: right;
}

/* Ger alla länkar ett utseende */
a{
    color: black;
    font-family: 'Josefin Slab', serif;
}

/* Ger länken ett nytt utseende när man placerar musen över */
a:hover{
    color: grey;
}

/* Ger statsidans bild placering och storlek */
#home {
    width: 100%;
    height: 90%;
    background-image: url(apple.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: contain;
}

/* Ger texten på startsidan placering och storlek */
#homeText{
    font-size: 2em;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline;
    font-family: 'Josefin Slab', serif;
}

/* Ger rubriken ett utseende och placering */
#trenderRubrik{
    font-size: 1em;
    font-family: 'Josefin Slab', serif;
    margin: 5%;
    padding: 5%;  
}

/* Ger vårat formulär storlek och färg */
form{
    width: 320px;
    color: steelblue;
    margin-left: 20px;
}

/* Utseende för alla fält i formuläret, input är alla fälten */
input{
    padding: 10px;
    font-size: inherit;
}

#meddelande{
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid steelblue;
    padding: 10px;
    font-size: inherit;
}

input[type="text"]{
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid steelblue;
}

input[type="number"]{
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid steelblue;
}

/* Ger classen ett utseende som delar upp hela hemsidan */
div.container{
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 10%;
    min-height: 1000px;
}

/* Ger rubriken ett utseende */
.projektRubrik{
    font-size: 2em;
     font-family: 'Josefin Slab', serif;
}

/* Ger bilderna för bildspelet placering och storlek*/
#bilderna{
    width: 100%;
    height: 30%;
    background-repeat: no-repeat;
    background-size: 100%;
    float: left; 
}

/* Ger bilden storlek och position */
#blakeBild{
    width: 25%;
    height: 35%;
    background-size: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Ger bilden storlek och position */
#johnnyBild{
    width: 25%;
    height: 35%;
    background-size: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Kartans placering och storlek */
#map{
    width: 400px;
    height: 400px;
    margin-left: 20px;
    margin-top: 20px;
}

/* placering av rubrik */
.vartTeam{
    margin-left: 50px;
}

/* Ger länk storlek */
#linkAmanda{
    font-size: 20px;
}

/* Ger länk storlek */
#linkDavid{
    font-size: 20px;
}

/* Ger progressbar storlek och färg */
.staplar {
    width: 70%;
    background-color: #ddd; 
}

/* Ger text i progressbar färg */
.skills {
    color: black; 
}

/* Ger progressbar färg och sin längd */
.html {width: 90%; background-color:Thistle;} 
.css {width: 80%; background-color: Thistle;} 
.js {width: 65%; background-color: Thistle;} 
.sv{width: 100%; background-color: Thistle;}
.en{width: 90%; background-color: Thistle;}
.arab{width: 10%; background-color: Thistle;}

.davidHtml {width: 82%; background-color:Turquoise;} 
.davidCss{width: 67%; background-color: Turquoise;}
.davidJs{width: 75%; background-color: Turquoise;}
.davidEn{width: 80%; background-color: Turquoise;}
.davidSv{width: 100%; background-color: Turquoise;}

/* Ger api-datan ett utseende */
#trendJavascript{
    font-size: 1em;
    font-family: 'Josefin Slab', serif;
   margin-left: auto;
   line-height: 2;
}

/* Ger api-datan ett utseende */
#trendCss{
    font-size: 1em;
    font-family: 'Josefin Slab', serif;
   margin-left: auto;
   line-height: 2;
}

/* Ett speciellt utseende när skärmen är mer än 768px */
@media only screen and (min-width: 768px){
    .twoColumns{
        width: 44%;
        float: left;
        padding: 1% 3% 1% 3%;
    }
}

/* Ett speciellt utseende när skärmen är mindre än 768px */
@media only screen and (max-width: 768px){
    #map{
        width: 200px;
        height: 200px;
        margin-left: 20px;
        margin-top: 20px;
    }
    /* Ändrar storlek på menyn så den blir anpassad för mindre skärm */
    div.menu{
        width: 80%;
        height: 100%;
        float: left;
        display: flex;
        align-items: center;
        font-family: 'Josefin Slab', serif;
        
    }
    /* Ändrar storlek på listan i menyn så den blir anpassad för mindre skärm */
    li{
        display: inline;
        color: black;
        padding: 2%;
        font-size: 10px;
        opacity: 0.7;
        float: right;
    }
    
ul{
    width: 100%;
}

/* Ändrar storlek på formuläret så den blir anpassad för mindre skärm */
form{
    
     width: 280px;
     color: steelblue;
     margin-left: 20px;
 }
 
 input{
     padding: 10px;
     font-size: inherit;
 }
 
 #meddelande{
     display: block;
     margin-bottom: 25px;
     width: 100%;
     border: 2px solid steelblue;
     padding: 10px;
     font-size: inherit;
 }
 
 input[type="text"]{
     display: block;
     margin-bottom: 25px;
     width: 100%;
     border: 2px solid steelblue;
 }
 
 input[type="number"]{
     display: block;
     margin-bottom: 25px;
     width: 100%;
     border: 2px solid steelblue;
 }

 /* Ändrar storlek på api-datan så den blir anpassad för mindre skärm */
 #trendJavascript{
    font-size: 12px;
    font-family: 'Josefin Slab', serif;
   margin-left: auto;
   line-height: 2;
}

#trendCss{
    font-size: 12px;
    font-family: 'Josefin Slab', serif;
   margin-left: auto;
   line-height: 2;
}

/* Ändrar position på länkarna så den blir anpassad för mindre skärm */
.vartTeam{
    margin-left: 50px;
    text-align: center;
}

#linkAmanda{
    font-size: 20px;
  display: block;
  text-align: center;
}

#linkDavid{
    font-size: 20px;
    display: block;
    text-align: center;
    
}

}






