html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#header {
    width: 100%;
    height: 10%;
    background-color: white;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat; 
    bottom: auto;
    position: fixed;
}

div.logo {
    width: 20%;
    height: 100%;
    float: left;
}

img.logo{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: 20% 50%;
}

div.menu{
    width: 80%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
}

ul{
    width: 100%;
}

li{
    display: inline;
    color: black;
    padding: 2%;
    font-size: 1em;
    opacity: 0.7;
    float: right;
}

a{
    color: black;
}

a:hover{
    color: grey;
}
#Startsida {
    width: 100%;
    height: 90%;
    background-image: url(apple.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

}

#startsidaText{
    font-size: 2em;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size-adjust: 100%;
    display: inline;
}

#aboutUsText {
    font-size: 1 em;
}

#aboutUsRubrik{
    font-size: 2em;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size-adjust: 100%;
    display: inline;
}

#bilder {
    width: 485px;
    display: block;
    margin: auto;
    margin-top: 200px;
    padding: 0 125px;
}

.david{
    width: 240px;
    background-image: url("david.jpg");
    height: 123px;
    float: left;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: 100%;
}

.amanda{
    width: 240px;
    background-image: url("amanda.jpg");
    height: 123px;
    float: right;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: 100%;
}
form{
    margin: 20px auto;
    width: 320px;
    color: steelblue;
}

input{
    padding: 10px;
    font-size: inherit;
}

textarea[type="text"]{
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid steelblue;
    padding: 10px;
    font-size: inherit;
}

input[type="text"]{
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid steelblue;
}

input[type="number"]{
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid steelblue;
}

@media only screen and (min-width: 768px){
    .twocolumns{
        width: 44%;
        float: left;
        padding: 1% 3% 1% 3%;
    }
}