html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(apple.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

}

#header {
    width: 100%;
    height: 10%;
    background-color: white;
}