html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#header {
    width: 100%;
    height: 10%;
    background-color: white;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat; 
    bottom: auto;
    position: fixed;
}

div.logo {
    width: 20%;
    height: 100%;
    float: left;
}

img.logo{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: 20% 50%;
}

div.menu{
    width: 80%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    font-family: 'Josefin Slab', serif;
    
}
h1{
    font-size: 3em;
    font-family: 'Josefin Slab', serif;
    margin-left: 50px;
    
}

ul{
    width: 100%;
}

p{
    font-size: 1em;
    font-family: 'Josefin Slab', serif;
}

li{
    display: inline;
    color: black;
    padding: 2%;
    font-size: 20px;
    opacity: 0.7;
    float: right;
}

a{
    color: black;
}

a:hover{
    color: grey;
}
#home {
    width: 100%;
    height: 90%;
    background-image: url(apple.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: contain;

}

#homeText{
  
    font-size: 2em;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size-adjust: 100%;
    display: inline;
    font-family: 'Josefin Slab', serif;
    
}



#trenderRubrik{
    font-size: 1em;
    font-family: 'Josefin Slab', serif;
    float: left;
    margin: 5%;
    padding: 5%;
    
}


form{
   
    width: 320px;
    color: steelblue;
    margin-left: 50px;
}

input{
    padding: 10px;
    font-size: inherit;
}

textarea[type="text"]{
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid steelblue;
    padding: 10px;
    font-size: inherit;
}

input[type="text"]{
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid steelblue;
}

input[type="number"]{
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid steelblue;
}

div.container{
    width: 100%;
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 10%;

}

#contactUsText{
    font-family: 'Josefin Slab', serif;
    font-size: 1em;
    margin-left: 50px;
}


.projektRubrik{
    font-size: 2em;
     font-family: 'Josefin Slab', serif;
}

.projektText{
    font-size: 1em;
    font-family: 'Josefin Slab', serif;
}

#bilderna{
    width: 100%;
    height: 30%;
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
   
    
}

#blakeBild{
    width: 25%;
    height: 35%;
    background-size: 100%;
}

#johnnyBild{
    width: 25%;
    height: 35%;
    background-size: 100%;
}

@media only screen and (min-width: 768px){
    .twoColumns{
        width: 44%;
        float: left;
        padding: 1% 3% 1% 3%;
    }
}

progress[value] {
    width: 250px;
    height: 25px;
  }





