html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#header {
    width: 100%;
    height: 10%;
    background-color: white;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat; 
    bottom: auto;
    position: fixed;
}

div.logo {
    width: 20%;
    height: 100%;
    float: left;
}

img.logo{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: 20% 50%;
}

div.menu{
    width: 80%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
}

ul{
    width: 100%;
}

li{
    display: inline;
    color: black;
    padding: 2%;
    font-size: 1em;
    opacity: 0.7;
    float: right;
}

a{
    color: black;
}

a:hover{
    color: grey;
}
#Startsida {
    width: 100%;
    height: 90%;
    background-image: url(apple.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

}

h1{
    font-size: 2em;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size-adjust: 100%;
    display: inline;
}